* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background-color: #fffefe; /* dark asphalt color */
  width: 800px;
  height: 600px;
}
